.ant-modal-body {
  width: 100%;
  padding: 0;
}

.one-post {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.one-post-user-info {
  display: flex;
  height: 20%;
}

.one-post-user-info h3 {
  word-wrap: break-word;
  padding: 0.5rem;
  width: 100%;
}
.one-post-user-info h4 {
  padding: 0.7rem 0 0 0.3rem;
  font-weight: bold;
}

.one-post-comment {
  padding: 0.4rem;
  width: 100%;
}
