.nav nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #69bac0;
    width: 100%;
    height: 4rem;
    padding: 10px;
}


a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}