.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.login-form {
    background: rgb(229, 208, 208);
    /* margin-top: 20rem; */
    height: 25rem;
    width: 27rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon {
    font-size: 1.5em;
}

.register {
    color: turquoise;
    text-decoration: underline;
    font-size: 17px;
}