.registe {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.registe h1 {
  color: #fca311;
}

.img-section h2 {
  color: #0f2c6b;
font-weight: bold;
font-size: x-large;
}

.registe h4 {
  color: #fca311;
  font-weight: bold;
  font-size: large;
  padding-top: 2rem;
}

.registe form {
  background: #14213d;
  padding-top: 4rem;
  height: 25rem;
  width: 27rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.registe form label {
  color: #fca311;
}

.register-form h4 a {
  margin-left: 0.5rem;
}
