.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 35%;
}

.search-input {
  margin: auto;
}

.result {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  position: absolute;
  top: 120%;
  background: rgb(246, 246, 246);
  width: 100%;
}

.result img {
  border: 2px solid #000;
  border-radius: 50%;
}

.search .result a {
  font-size: 1.4em;
}
