.ant-modal-body {
  width: 100%;
  padding: 0;
}

.one-post {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.one-post .slick-slider {
  width: 30rem;
}

.one-post img {
  height: 30rem;
}

.one-post .slick-next {
  right: -0%;
}

.one-post .slick-prev {
  left: -0%;
  z-index: 3;
  /* width: 2rem; */
  /* font-size: 8rem; */
}

.one-post-user-info {
  display: flex;
  height: 20%;
}

.one-post-user-info h3 {
  word-wrap: break-word;
  padding: 0.5rem;
  width: 100%;
}
.one-post-user-info h4 {
  padding: 0.7rem 0 0 0.3rem;
  font-weight: bold;
}

.one-post-user-info img {
  border: 2px solid #000;
  border-radius: 50%;
}

.one-post-comment {
  padding: 0.4rem;
  width: 100%;
}
